<h1>施設管理者向けダッシュボード</h1>

<div class="statistics">
  <div class="statistic">
    <span class="label">管理施設数:</span>
    <span class="value"><%= @managed_facilities_count %></span>
  </div>
  <div class="statistic">
    <span class="label">承認待ち予約数:</span>
    <span class="value"><%= @pending_reservations_count %></span>
  </div>
</div>
