<h1>一般ユーザー向けダッシュボード</h1>

<div class="statistics">
  <div class="statistic">
    <span class="label">予約可能施設数:</span>
    <span class="value"><%= @reservable_facilities_count %></span>
  </div>
  <div class="statistic">
    <span class="label">自分の予約数:</span>
    <span class="value"><%= @my_reservations_count %></span>
  </div>
</div>
