<h1>システム管理者向けダッシュボード</h1>

<div class="statistics">
  <div class="statistic">
    <span class="label">総ユーザー数:</span>
    <span class="value"><%= @total_users_count %></span>
  </div>
  <div class="statistic">
    <span class="label">総施設数:</span>
    <span class="value"><%= @total_facilities_count %></span>
  </div>
  <div class="statistic">
    <span class="label">総予約数:</span>
    <span class="value"><%= @total_reservations_count %></span>
  </div>
</div>
