<ul class="navbar-nav me-auto mb-2 mb-lg-0">
  <% if user_signed_in? %>
    <%# General user links %>
    <% if current_user.can_make_reservations? %>
      <li class="nav-item">
        <%= link_to "Reservations", "#", class: "nav-link" %>
      </li>
    <% end %>

    <%# Facility manager links %>
    <% if current_user.can_manage_facilities? %>
      <li class="nav-item">
        <%= link_to "Facility Management", "#", class: "nav-link" %>
      </li>
    <% end %>

    <%# System admin links %>
    <% if current_user.can_manage_system? %>
      <li class="nav-item">
        <%= link_to "System Admin", "#", class: "nav-link" %>
      </li>
    <% end %>
  <% end %>
</ul>
